body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: tahoma;
}

p{
  font-size: 18px;
}

header{
  background-color: #F63232;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

header h1{
 color: white;
 border: 8px solid white;
 border-radius: 36px;
 padding: 6px 12px;
 display: inline-block;
}

.banner{
  position: relative;
}
.banner img{
  max-width: 100%;
}

.banner .welcome{
  color: white;
  background: orange;
  position: center;
  padding: 30px;
  position:

}

main{
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
  box-sizing: border-box;
}

